<!doctype html>
<html> 

<head>

	<style type="text/css"> 
           a:link, a:visited  { text-decoration:none;
     
     }

    </style>

</head>

<body>


<h1>Hey, this is my about page.</h1>

<hr>
<h4><%= link_to 'Home', root_path %><h4>

<script> 
// It changed in the from (welcome_root_path) to (root_path)
// because in the (route) it changed from get to root.
</script>

<p>
     Hi,<br>
     My name is <em>Olyad</em> Regassa<br>
     If you would <em>link</em> to go to my 'Home' page,<br>
     please click on the link above.<br>

</p>

</body>

</html>