<style type="text/css"> 
   a:link, a:visited { text-decoration:none;
    }
</style>

<div class="center jumbotron">
	<h1>ALPHA BLOG</h1>
<%= link_to "Sign up now", "#", class: "btn btn-#33FFCC btn-lg btn-xlarge" %>
</div>




