<!doctype html>
<html> 

<head>
        
     <style type="text/css"> 
            a:link, a:visited { text-decoration:none;
         }

         </style>

</head>

<body>


<h1>Welcome. This is my home page</h1>

<hr>
<h4><%= link_to 'About', about_path %></h4>

<p>
     Hi,<br>
     My name is <em>Olyad</em> Regassa<br>
     If you would <em>link</em> to go to my 'About' page,<br>
     please click on the link above.<br>

</p>

</body>

</html>