$navbar-default-bg: #33FFCC;

@import "bootstrap-sprockets";
@import "bootstrap"; 

#logo {
	float: left;
	font-size: 1.7em;
	color: orange;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
} 

#logo:hover {
	text-decoration: none;
	color: orange;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('blog_image.jpg');
	background-size: 80px 100px;
	height: 470px;
}

.jumbotron h1 {
	color: orange;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

.btn-xlarge {
	font-size: 1.8em;
	background-color: #33FFCC;
	color: orange;
}

.article-actions {
	border-top: 1px double #606060;
	padding-top: 5px;
}


.description {
	margin-top: 0;
}


footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: double #606060;
	color: orange;
}

footer a:hover {
	color: #33FFCC;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}












